.cart-conatainer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cart-product{
    display: flex;
    flex-direction: column;
   max-width: 200px;
}
.cart-product img{
    height: 100%;
    width:100%;
}